body,
section,
div,
span,
ul,
li,
input,
button,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
div.container {
  width: 30%;
  min-width: 400px;
  margin: 100px auto 100px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
}
div.container h1 {
  margin: 0 0 20px;
  text-align: center;
}
div.container input {
  padding: 5px;
}
div.container button {
  padding: 5px;
}
div.container div.section {
  margin: 20px 0 0;
  padding: 15px;
  border: 3px solid black;
  border-radius: 5px;
  text-align: right;
}
div.container div.section h2 {
  text-align: right;
}
div.container div.section ul {
  margin: 0 0 15px;
}
div.container div.section ul li {
  margin: 5px 0;
  text-align: left;
}
div.container div.section ul li p {
  padding: 5px 10px;
  display: inline-block;
}
